# Editor configuration, see http://editorconfig.org
root = true

# General
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Tab indentation
[{Makefile,go.mod,go.sum,*.go}]
indent_style = tab

# Readme
[*.md]
max_line_length = 120
trim_trailing_whitespace = false
